/* CSS by Mia Graef */

/* Color Palette
cherry red= #590209
deepest red= #260104
bright red= #8C142A
light mint= #D8F2E1
blushed peach= #BF9C88
*/

/* GLOBAL (base) MOBILE FIRST */

/*BODY*/
body {
    background-color: #BF9C88;
    font-family: Helvetica, Arial, sans-serif;
    display: grid;
}

/*NAV*/
nav {
    background-color: #260104; 
}

nav ul {
    list-style: none;
    text-transform: uppercase;
}

nav a {
    color: white;
    text-decoration: none;
    display: block;
    justify-content: space-around;
}
