/* CSS by Mia Graef */

/* Color Palette
cherry red= #590209
deepest red= #260104
bright red= #8C142A
light mint= #D8F2E1
blushed peach= #BF9C88
image red=#A03232
*/

/* GLOBAL (base) MOBILE FIRST */

/*BODY*/
body {
    background-color: #BF9C88;
    color: #590209;
    font-family: Helvetica, Arial, sans-serif;
    display: grid;
    grid-template-columns: 1fr;
}

header {
    font-size: 2rem;
    font-weight: 200;
    padding: 0.5rem;
    background-color: whitesmoke;
    text-align: center;
    color: #A03232;
}

main {
    display: grid;
    grid-template-columns: 1fr;
}


/*NAV*/
nav {
    background-color: #260104;
}

nav ul {
    list-style: none;
    padding: 0.5rem;
    margin: 0.5rem;
    justify-content: center;
    display: flex;
    gap: 2rem;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    background-color: white;
    color: #260104;
    font-weight: bolder;
    padding: 0.5rem;
}

/*FOOTER*/
footer {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    margin: 0.5rem;
}

/*CLASS CARDS*/

/*HOME*/
.home img {
    display: flex;
    justify-content: center;
    width: 100%;
}
.card-row section { 
    background-color: #A03232;
    padding: 1rem;
    margin: 0.5rem;
}
.card-row a {
    text-decoration: none;
    color: white;
}
.card-row a:hover {
    font-weight: bolder;
    color: #f7dfd2;
    background-color: #590209;
    padding: 0.5rem;
}

/*ABOUT*/

.contact {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    background-color: #590209;
    color: whitesmoke;
    padding: 0.5rem;
    margin-left: 12rem;
    margin-right: 12rem;
    text-align: center;
}
.contact a {
    text-decoration: none;
    color: whitesmoke;
}
.contact a:hover {
    font-weight: bolder;
    color: #590209;
    background-color: whitesmoke;
    padding: 0.5rem;
}

.soft, .technical, .intro {
    background-color: #f7dfd2; 
    padding: 1rem;
    margin: 1rem;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    max-width: 90%;
}

/*PROJECTS*/
.project-card section {
    background-color: #f7dfd2;
    color: #A03232;
    padding: 1rem;
    margin: 0.5rem;
    gap: 1rem;
    align-items: center;
}

/* ===== MEDIA QUERY (MEDIUM) ===== */

@media screen and (min-width: 720px) {

    .card-row section {
        display: flex;
        column-width: 20px;
    }
    #contact-page main {
        display: flex;
        justify-content: center;
    }
}



